src/main/app/amqp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp"
  xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core"
  version="CE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

  <amqp:connector name="amqp_config"  virtualHost="/test_host2" username="root" password="root" doc:name="AMQP Connector"
    validateConnections="true" />
  <amqp:endpoint exchangeName="directEx" queueName="directQ" routingKey="routing.key" exchangeType="direct"
    name="amqp_direct_endpoint" responseTimeout="10000" doc:name="AMQP" queueDurable="true" />

  <flow name="Send_Message_Direct" doc:name="Send_Message_Direct">
    <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8090" path="direct"
      doc:name="HTTP" />
    <set-payload value="#['im a Direct message'.getBytes()]" doc:name="Set payload for amqp message as ByteArray" />
    <amqp:outbound-endpoint responseTimeout="10000" connector-ref="amqp_config" ref="amqp_direct_endpoint"
      doc:name="Send Direct Message" />
    <set-payload value="#['Message Sended']" doc:name="Set payload as String" />
    <logger message="Direct message sended" level="INFO" doc:name="Logger" />
  </flow>

  <flow name="Recive_Message_Direct" doc:name="Recive_Message_Direct">
    <amqp:inbound-endpoint responseTimeout="10000" connector-ref="amqp_config" ref="amqp_direct_endpoint"
      doc:name="Recive Direct Message" />
    <byte-array-to-string-transformer doc:name="Transform bytearray message to String" />
    <logger message="*****I recived a direct message from AMQP: #[payload]" level="INFO" doc:name="Logger" />
    <message-properties-transformer doc:name="Message Properties">
      <add-message-property key="message" value="#[payload]" />
    </message-properties-transformer>
    <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="8888"
      path="extrest" method="POST" doc:name="HTTP" />
  </flow>

  <flow name="direct-messageFlow1" doc:name="direct-messageFlow1">
    <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8888" path="extrest"
      doc:name="HTTP" />
    <logger message="*****Called with parameter message: #[message.inboundProperties['message']]" level="INFO"
      doc:name="Logger" />
    <set-payload value="#[message.inboundProperties['message']]" doc:name="Set Payload" />
  </flow>
</mule>
