src/main/app/return_http.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.4.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="return_httpFlow1" doc:name="return_httpFlow1">
		<http:inbound-endpoint exchange-pattern="one-way"
			host="localhost" port="8088" doc:name="HTTP" path="return"/>
		<http:outbound-endpoint exchange-pattern="request-response"
			host="localhost" port="8089" method="POST" doc:name="HTTP" path="return"/>
		<catch-exception-strategy doc:name="Catch Exception Strategy3">
			<scripting:transformer doc:name="Add exception message">
				<scripting:script engine="Groovy">
                    <scripting:text><![CDATA[def payload = new org.mule.example.ReservationResponse()
payload.addError("Error processing request")
payload]]></scripting:text>
				</scripting:script>
			</scripting:transformer>
			<set-property propertyName="http.status" value="500"
				doc:name="Set http status 404" />
			<json:object-to-json-transformer
				doc:name="Object to JSON" />
		</catch-exception-strategy>
	</flow>
</mule>
